<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Rithwik Babu</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='page.css')}}" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
    </head>

    <body id="desktop">
        <div class="wrapper">
            <div class="map" id="map">
                <div class="mappa"></div>
                <div class="mapItem mappa" id="mapUp" onclick="move('#up')"></div>
                <div class="mappa"></div>
                <div class="mapItem mappa" id="mapLeft" onclick="move('#left')"></div>
                <div class="mapItem mappa" id="mapHome" onclick="move('#home')"></div>
                <div class="mapItem mappa" id="mapRight" onclick="move('#right')"></div>
                <div class="mappa"></div>
                <div class="mapItem mappa" id="mapDown" onclick="move('#down')"></div>
                <div class="mappa"></div>
            </div>
            <div class="page" id="home">
                <div class="navButton" id="buttonUp" onclick="move('#up')">
                    <i class="buttonUp toRainbow">&#xf106;</i>
                    <small class="toRainbow">Projects</small>
                </div>
                <div class="navButton" id="buttonDown" onclick="move('#down')">
                    <i class="buttonDown toRainbow">&#xf107;</i>
                    <small class="toRainbow">Contact</small>
                </div>
                <div class="navButton" id="buttonLeft" onclick="move('#left')">
                    <i class="buttonLeft toRainbow">&#xf104;</i>
                    <small class="toRainbow" style="margin-left: 7vw;">Experience</small>
                </div>
                <div class="navButton" id="buttonRight" onclick="move('#right')">
                    <i class="buttonRight toRainbow">&#xf105;</i>
                    <small class="toRainbow" style="margin-right: 6.5vw;">Statistics</small>
                </div>
                <div class="nameContainer toRainbow" onclick="animateDes()" onmouseover="makeRainbow()" onmouseout="takeRainbow()">
                    RITHWIK BABU
                </div>
            </div>
            <div class="page" id="up">
                <div class="navButton" id="buttonDown" onclick="move('#home')">
                    <i class="buttonUp">&#xf107;</i>
                </div>
            </div>
            <div class="page" id="down">
                <div class="navButton" id="buttonUp" onclick="move('#home')">
                    <i class="buttonUp">&#xf106;</i>
                </div>
            </div>
            <div class="page" id="left">
                <div class="navButton" id="buttonRight" onclick="move('#home')">
                    <i class="buttonLeft">&#xf105;</i>
                </div>
            </div>
            <div class="page" id="right">
                <div class="navButton" id="buttonLeft" onclick="move('#home')">
                    <i class="buttonRight">&#xf104;</i>
                </div>
            </div>
        </div>

        <script>
            location.href="#home"
            setMapSize();
            document.getElementById("mapHome").style.setProperty("background-color", "gainsboro");

            var moving = false;

            function move(id) {
                if (moving) {
                    return;
                }
                moving = true;

                document.getElementsByTagName("html")[0].style.scrollBehavior = "smooth";
                document.getElementsByTagName("body")[0].style.scrollBehavior = "smooth";
                switch(location.href.slice(location.href.indexOf("#"))) {
                    case "#up":
                        document.getElementById("mapUp").style.setProperty("background-color", "#646464");
                        break;
                    case "#down":
                        document.getElementById("mapDown").style.setProperty("background-color", "#646464");
                        break;
                    case "#left":
                        document.getElementById("mapLeft").style.setProperty("background-color", "#646464");
                        break;
                    case "#right":
                        document.getElementById("mapRight").style.setProperty("background-color", "#646464");
                        break;
                    default:
                        document.getElementById("mapHome").style.setProperty("background-color", "#646464");
                }
                location.href=id;
                switch(id) {
                    case "#up":
                        document.getElementById("mapUp").style.setProperty("background-color", "gainsboro");
                        break;
                    case "#down":
                        document.getElementById("mapDown").style.setProperty("background-color", "gainsboro");
                        break;
                    case "#left":
                        document.getElementById("mapLeft").style.setProperty("background-color", "gainsboro");
                        break;
                    case "#right":
                        document.getElementById("mapRight").style.setProperty("background-color", "gainsboro");
                        break;
                    default:
                        document.getElementById("mapHome").style.setProperty("background-color", "gainsboro");
                }

                setTimeout(function() {
                    document.getElementsByTagName("html")[0].style.scrollBehavior = "";
                    document.getElementsByTagName("body")[0].style.scrollBehavior = "";
                    moving = false;
                }, 500); // Animation duration
            }

            function setMapSize() {
                var ratio = window.innerWidth / window.innerHeight;
                var size = 5;
                var mapItems = document.getElementsByClassName("mappa");
                for (let i = 0; i < mapItems.length; i++) {
                    mapItems[i].style.setProperty("width", (size * ratio) + "vh");
                    mapItems[i].style.setProperty("height", size + "vh");
                }
            }
            

            window.addEventListener("resize", function(event) {
                console.log("WHATTT");
                document.getElementsByTagName("html")[0].style.scrollBehavior = "auto";
                document.getElementsByTagName("body")[0].style.scrollBehavior = "auto";
                location.href=location.href;
                setMapSize();
            })

            function foldImage() {
                document.getElementsByClassName("tr-img")[0].setAttribute("width", "0px");
            }

            image = document.getElementsByClassName("tr-img")[0];

            var transform = {
                scale: 1
            };

            function scaleImage(val){
                transform.scale = val;
                applyStyle()
            }

            function applyStyle() {
                image.style.transform = `scaleX(${transform.scale})`;
            }

            function makeRainbow() {
                items = document.getElementsByClassName("toRainbow");
                for (let i = 0; i < items.length; i++) {
                    items[i].classList.add("rainbowText");
                }
            }

            function takeRainbow() {
                items = document.getElementsByClassName("toRainbow");
                for (let i = 0; i < items.length; i++) {
                    items[i].classList.remove("rainbowText");
                }
            }

            function animateDes() {
                items = document.getElementsByClassName("toRainbow");
                for (let i = 0; i < items.length; i++) {
                    items[i].classList.add("persistRainbow");
                }
            }
            
            $(document).keydown(function(e) {
                if (moving) {
                    return;
                }

                var currentHash = window.location.hash;

                switch (e.which) {
                    case 37: // left
                        if (currentHash == "#home") {
                            move('#left');
                        } else if (currentHash == "#right") {
                            move('#home');
                        }
                        break;
            
                    case 38: // up
                        if (currentHash == "#home") {
                            move('#up');
                        } else if (currentHash == "#down") {
                            move('#home');
                        }
                        break;
            
                    case 39: // right
                        if (currentHash == "#home") {
                            move('#right');
                        } else if (currentHash == "#left") {
                            move('#home');
                        }
                        break;
            
                    case 40: // down
                        if (currentHash == "#home") {
                            move('#down');
                        } else if (currentHash == "#up") {
                            move('#home');
                        }
                        break;
            
                    default: return; // exit this handler for other keys
                }
                e.preventDefault(); // prevent the default action (scroll / move caret)
            });
        </script>
    </body>
</html>