<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Rithwik Babu</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='page.css')}}" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <div class="page" id="home">
                <div class="navButton" id="buttonUp" onclick="move('#up')">
                    <i class="buttonUp">&#xf106;</i>
                </div>
                <div class="navButton" id="buttonDown" onclick="move('#down')">
                    <i class="buttonDown">&#xf107;</i>
                </div>
                <div class="navButton" id="buttonLeft" onclick="move('#left')">
                    <i class="buttonLeft">&#xf104;</i>
                </div>
                <div class="navButton" id="buttonRight" onclick="move('#right')">
                    <i class="buttonRight">&#xf105;</i>
                </div>
            </div>
            <div class="page" id="up">
                <div class="navButton" id="buttonDown" onclick="move('#home')">
                    <i class="buttonUp">&#xf107;</i>
                </div>
            </div>
            <div class="page" id="down">
                <div class="navButton" id="buttonUp" onclick="move('#home')">
                    <i class="buttonUp">&#xf106;</i>
                </div>
            </div>
            <div class="page" id="left">
                <div class="navButton" id="buttonRight" onclick="move('#home')">
                    <i class="buttonLeft">&#xf105;</i>
                </div>
            </div>
            <div class="page" id="right">
                <div class="navButton" id="buttonLeft" onclick="move('#home')">
                    <i class="buttonRight">&#xf104;</i>
                </div>
            </div>
        </div>

        <script>
            location.href="#home"
            function move(id) {
                location.href=id;
            }

            var itemHeight = document.getElementById("1").offsetHeight;
            // var p1 = document.getElementById("1").getBoundingClientRect().top - itemHeight * 0;
            // var p2 = document.getElementById("2").getBoundingClientRect().top - itemHeight * 1;
            // var p3 = document.getElementById("3").getBoundingClientRect().top - itemHeight * 2;
            // var p4 = document.getElementById("4").getBoundingClientRect().top - itemHeight * 3;
            // var p5 = document.getElementById("5").getBoundingClientRect().top - itemHeight * 4;

            window.addEventListener("scroll", function(event){
                var scroll = this.scrollY;
                var height = document.documentElement.scrollHeight;

                if (scroll < itemHeight) {
                    document.getElementsByClassName("navWrapper")[0].style.paddingTop = "0px";
                }
                if (scroll > p1) {
                    document.getElementById("1").classList.add('buttonAdj');
                    document.getElementsByClassName("navWrapper")[0].style.paddingTop = itemHeight;
                    document.getElementsByClassName("navWrapper")[0].style.paddingTop = itemHeight + "px";
                    console.log(document.getElementsByClassName("navWrapper")[0].style.paddingTop);
                } else {
                    document.getElementById("1").classList.remove('buttonAdj');
                }
                if (scroll > p2) {
                    document.getElementById("2").classList.add('buttonAdj');
                    document.getElementsByClassName("navWrapper")[0].style.paddingTop = 2*itemHeight + "px";
                } else {
                    document.getElementById("2").classList.remove('buttonAdj');
                }
                if (scroll > p3) {
                    document.getElementById("3").classList.add('buttonAdj');
                    document.getElementsByClassName("navWrapper")[0].style.paddingTop = 3*itemHeight + "px";
                } else {
                    document.getElementById("3").classList.remove('buttonAdj');
                }
                if (scroll > p4) {
                    document.getElementById("4").classList.add('buttonAdj');
                    document.getElementsByClassName("navWrapper")[0].style.paddingTop = 4*itemHeight + "px";
                } else {
                    document.getElementById("4").classList.remove('buttonAdj');
                }
                if (scroll > p5) {
                    document.getElementById("5").classList.add('buttonAdj');
                    document.getElementsByClassName("navWrapper")[0].style.paddingTop = 5*itemHeight + "px";
                } else {
                    document.getElementById("5").classList.remove('buttonAdj');
                }
            })
        </script>
    </body>
</html>